.preset-widget {
  padding: 1px;
}

.preset-widget-container {
  /*border: 1px solid black;*/
  background: #DADADA;
}

.play-button-container {
  width: 100%;
  padding-left: auto;
  padding-right: auto;
}

.play-button-circle {
  width: 80px;
  height: 80px;

  display: inline-block;
  border: 4px solid black;
  border-radius: 50%;
}

.play-button {
  margin-left: 4px;
  margin-top: 4px;
  font-size: 50px;
}

.preset-info {
  margin-top: 10px;
  margin-bottom: 10px;
}

