@import "../../styles/variables";

.home-container {
  height: 100%;
}

.home-row {
  height: 100%;
}

.home-button {
  width: 100%;
  border: 1px solid black;
  height: 150px;
  color: #eceded;
  background: $button-bg-custom;
}
