.navbar {
  background: #0288D1;
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-brand {
  color: white;
}

.navbar-nav > li > a {
  color: white;
}

.navbar-nav > li > a:hover{
  background: #0277BD;
}
