<div class="container home-container">
    <div class="row home-row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 split-btn">
            <button class="home-button"
                    (click)="continueAsMaster()">
                Master
            </button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 split-btn">
            <button class="home-button"
                    (click)="continueAsClient()">
                Padawan
            </button>
        </div>
    </div>
</div>
